.goblin{
        -fx-background-color: red;
        -fx-background-image: url('myGoblin.png');
        -fx-background-size: 135.0px 155.0px; /*cover, auto;*/
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}

.troll{
        -fx-background-color: red;
        -fx-background-image: url('myTroll.png');
        -fx-background-size: 135.0px 155.0px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}

.gnome{
        -fx-background-color: red;
        -fx-background-image: url('myGnome.png');
        -fx-background-size: 135.0px 155.0px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}


.dryad{
        -fx-background-color: red;
        -fx-background-image: url('myDryad.png');
        -fx-background-size: 135.0px 155.0px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}

.elf{
        -fx-background-color: red;
        -fx-background-image: url('myElf.png');
        -fx-background-size: 135.0px 155.0px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}

.korrigan{
        -fx-background-color: red;
        -fx-background-image: url('myKorrigan.png');
        -fx-background-size: 135.0px 155.0px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}

.verso{
        -fx-background-color: red;
        -fx-background-image: url('myVerso.png');
        -fx-background-size: 135.0px 155.0px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-min-height: 150.0px;
        -fx-min-width: 128.0px;
}
